In [1]:
import numpy as np
import pandas as pd

In [15]:
pd.read_csv("../data/consolidated/data_consolidated.csv")

/var/folders/sn/yxd12k512qn_zkmv6v3v8gzh0000gn/T/ipykernel_96032/3990346562.py:1: DtypeWarning: Columns (12,13,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv("../data/consolidated/data_consolidated.csv")

,Unnamed: 0,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,dcoilwtico,type_holidays,locale,locale_name,description,transferred,transactions
0,0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,NaN,Holiday,National,Ecuador,Primer dia del ano,False,NaN
1,1,1,2013-01-01,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,NaN,Holiday,National,Ecuador,Primer dia del ano,False,NaN
2,2,2,2013-01-01,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,NaN,Holiday,National,Ecuador,Primer dia del ano,False,NaN
3,3,3,2013-01-01,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,NaN,Holiday,National,Ecuador,Primer dia del ano,False,NaN
4,4,4,2013-01-01,1,BOOKS,0.0,0,Quito,Pichincha,D,13,NaN,Holiday,National,Ecuador,Primer dia del ano,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3082855,3082855,3029395,2017-08-31,9,POULTRY,NaN,1,Quito,Pichincha,B,6,47.26,NaN,NaN,NaN,NaN,NaN,NaN
3082856,3082856,3029396,2017-08-31,9,PREPARED FOODS,NaN,0,Quito,Pichincha,B,6,47.26,NaN,NaN,NaN,NaN,NaN,NaN
3082857,3082857,3029397,2017-08-31,9,PRODUCE,NaN,1,Quito,Pichincha,B,6,47.26,NaN,NaN,NaN,NaN,NaN,NaN
3082858,3082858,3029398,2017-08-31,9,SCHOOL AND OFFICE SUPPLIES,NaN,9,Quito,Pichincha,B,6,47.26,NaN,NaN,NaN,NaN,NaN,NaN
3082859,3082859,3029399,2017-08-31,9,SEAFOOD,NaN,0,Quito,Pichincha,B,6,47.26,NaN,NaN,NaN,NaN,NaN,NaN